.filter-view {
  border: 1px solid black;
  margin: 0% 10%;
  display: flex;
  flex-wrap: wrap;
}

.filter-mini-pill {
  margin: 1px 2px;
  padding: 1px 2px;
  border-radius: 3px; 
  background-color: lightblue;
  cursor: pointer;
}

.filter-mini-pill:hover {
  text-decoration: line-through;
  text-decoration-color: red;
}

.tertiary-header {
  margin: 0% 10%;
  padding: 0px;
  text-align: left;
}